@model string
@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Your booking's code:</h2>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2 class="booking-code">@Model</h2>
    </div>
</div>

