@model StarCinema.Models.CRUDModels.CinemaModels.AddCinemaViewModel

@{
    ViewData["Title"] = "AddCinemaConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="form app-form">
        <h2>Added Cinema:</h2>
        <h4 class="app-form-h4">Address: @Model.Address.ToString()</h4>
        <h4 class="app-form-h4">Halls: </h4>
        @foreach (var h in Model.CinemaHalls)
        {
            <h4 class="app-form-h4"> @h.Name : @h.Seats.Count seats </h4>
        }

    </div>
