@model StarCinema.Models.CRUDModels.CityViewModel
@{
    ViewData["Title"] = "AddCity";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form app-form" method="post" asp-action="AddCity" asp-controller="City">
            <h2 class="app-form-h2"> <i class="glyphicon glyphicon-plus"></i> Add city</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input class="app-form-input" placeholder="City name" asp-for="@Model.CityName"/>
            </div>
            <button class="btn btn-danger app-form-submit" type="submit">ADD CITY</button>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Cities" asp-controller="City" asp-route-id="1" method="get">
            <button type="submit" class="btn btn-info app-form-submit"> <i class="glyphicon glyphicon-arrow-left"></i> BACK TO LIST</button>
        </form>
    </div>
</div>
