@model StarCinema.Models.CRUDModels.CategoryViewModel
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">


        <form class="form app-form" method="post" asp-action="AddCategory" asp-controller="Category">
            <h2 class="app-form-h2"> <i class="glyphicon glyphicon-plus"></i> AddCategory</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input class="app-form-input" value="" placeholder="Category name" asp-for="@Model.Name" a />
            </div>
            <button class="btn btn-danger app-form-submit" type="submit">ADD CATEGORY</button>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Categories" asp-controller="Category" method="get">
            <button type="submit" class="btn btn-info app-form-submit"> <i class="glyphicon glyphicon-arrow-left"></i> BACK TO LIST</button>
        </form>
        </div>
</div>
