@model IEnumerable<StarCinema.Models.CRUDModels.CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
    int i = 0;

}

<h2 class="app-form-h2">Categories</h2>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form asp-action="AddCategory" asp-controller="Category" method="get">
            <button type="submit" class="btn btn-success app-form-submit"><i class="glyphicon glyphicon-plus"></i> ADD CATEGORY</button>
        </form>
    </div>
</div>
<br />
<div class="row">

    <div class="col-lg-12">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>
                            <a asp-controller="Category" asp-action="SortCategoriesByNameAsc">
                                <i class="glyphicon glyphicon-triangle-top"></i>
                            </a>
                            Name
                            <a asp-controller="Category" asp-action="SortCategoriesByNameDesc">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        </td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        i++;
                        <tr>
                            <td class="td-center">@i</td>
                            <td class="td-center">@c.Name</td>
                            <td class="td-center">
                                <form asp-action="RemoveCategory" asp-controller="Category">
                                    <input type="hidden" name="categoryName" value="@c.Name" />
                                    <button type="submit" class="btn btn-danger app-form-table-submit"><i class="glyphicon glyphicon-remove"></i> DELETE</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>