@model StarCinema.DomainModels.Movie
@{
    ViewData["Title"] = "RemoveMovie";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="app-form-h2"> <i class="glyphicon glyphicon-ok"></i> Successfully removed addEditMovie @Model.Title (id = @Model.Id) </h2>
        <form asp-action="Movies" asp-controller="Movie" method="get">
            <button type="submit" class="btn btn-info app-form-submit"> <i class="glyphicon glyphicon-arrow-left"></i> BACK TO LIST</button>
        </form>
    </div>
</div>
